@Partial['header.html'];

<form action="/parcel">

    <div class='form-group'>
      <label for="Height">Height</label>
      <input  name="Height" class='form-control' type='number' value="@Model.Height">
    </div>
    <div class='form-group'>
      <label for="Length">Length</label>
      <input  name="Length" class='form-control' type='number' value="@Model.Length">
    </div>
    <div class='form-group'>
      <label for="Width">Width</label>
      <input  name="Width" class='form-control' type='number' value="@Model.Width">
    </div>
    <div class='form-group'>
      <label for="Weight">Weight</label>
      <input  name="Weight" class='form-control' type='number' value="@Model.Weight">
    </div>

  <input type="submit" name="submit" value="SUBMIT MADLIB">
</form>
